h1 {
	font-family: monospace;
	font-size: 23px;
	font-style: normal;
	font-variant: normal;
	font-weight: bold;
	line-height: 23px;
	color: lime;
}
h3 {
	font-family: monospace;
	font-size: 17px;
	font-style: normal;
	font-variant: normal;
	font-weight: 500;
	line-height: 23px;
	color: lime;
}
p, input, form {
	font-family: monospace;
	font-size: 14px;
	font-style: normal;
	font-variant: normal;
	font-weight: 400;
	line-height: 23px;
	color: lime;
	background-color: black;
	border: none;
	border-width: 0px;
}
input.focus {
	outline:none;
}
blockquote {
	font-family: monospace;
	font-size: 17px;
	font-style: normal;
	font-variant: normal;
	font-weight: 400;
	line-height: 23px;
	color: lime;
}
pre {
	font-family: monospace;
	font-size: 11px;
	font-style: normal;
	font-variant: normal;
	font-weight: 400;
	line-height: 23px;
	color: lime;
}
